.ft11 {
  font-size: 11px;
}
.ft12 {
  font-size: 12px;
}
.ft14 {
  font-size: 14px;
}
.ft16 {
  font-size: 16px;
}
.ft18 {
  font-size: 18px;
}
.ft20 {
  font-size: 20px;
}
.ft24 {
  font-size: 24px;
}
.b {
  font-weight: bold;
}
.i {
  font-style: italic;
}
.u {
  text-decoration: underline;
}
.white {
  color: #fff;
}
.black {
  color: #000;
}
.gray {
  color: #586f7b;
}
.orange {
  color: #f58220;
}
.orange2 {
  color: #c76e22;
}
.blue {
  color: #184b65;
}
.red {
  color: red;
}
.bt {
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: none !important;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  /* @include transitionDef(0.3s); */
  display: inline-block;
}
.bt.blue {
  background: #00aeef;
}
.bt.orange {
  background: #f58220;
}
.bt.bt_large {
  padding: 10px 35px;
  margin-bottom: 5px;
}
.bt.bt_xlarge {
  padding: 35px 50px;
}
.bt:hover {
  background: #93999c;
}
.bt.bt_login:hover {
  background: #586f7b;
}
.active {
  color: #586f7b !important;
  border-bottom: 5px solid #586f7b !important;
}
.bt_cadastre:hover {
  text-decoration: underline;
}
#wrap {
  min-height: 100%;
  position: relative;
}
.main {
  width: 1000px;
  margin: auto;
}
.extremes {
  background: #e7e7e7;
  height: 30px;
}
.bt_agendar {
  background: #f58220;
  width: 70px;
}
.bt_agendar a {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}
.pullit.actived, .pullit:hover {
  background: #586f7b;
}
.site_status {
  background: #fff694;
  color: #3d3d3d;
  text-align: center;
  padding: 10px 0;
  border: 1px solid #9b9558;
  margin-bottom: 20px;
}
.blc {
  width: 1000px;
  float: left;
  margin-bottom: 20px;
}
.blc span {
  float: left;
  margin-right: 20px;
}
.blc span p.error {
  color: red;
  font-size: 11px;
}
.blc span input[type="text"], .blc span input[type="password"], .blc span input[type="email"], .blc span select, .blc span textarea {
  width: 405px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  height: 34px;
  text-indent: 10px;
  border: 1px solid #d2d2d2;
}
.blc span input[type="text"].large, .blc span input[type="password"].large, .blc span input[type="email"].large, .blc span select.large, .blc span textarea.large {
  width: 832px;
}
.blc span textarea {
  width: 832px;
  height: 150px;
  padding-top: 10px;
}
.inp_medium {
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  height: 34px;
  text-indent: 10px;
  border: 1px solid #d2d2d2;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 0;
}
.pagination > li {
  display: inline;
}
.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857;
  text-decoration: none;
  color: #333;
  background-color: #f6f6f6;
  border: 1px solid #f6f6f6;
  margin-left: -1px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
  color: #fff;
  background-color: #31c0be;
  border-color: #31c0be;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  background-color: #31c0be;
  border-color: #31c0be;
  cursor: default;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #999;
  background-color: #f6f6f6;
  border-color: #f6f6f6;
  cursor: not-allowed;
}
.table-striped {
  padding: 20px;
}
.table-striped th {
  text-align: left;
}
.table-striped td {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 13px;
  color: #2b2b2b;
}
