span.placeholder {
  position: absolute;
  font-size: 75%;
  color: #999;
  font-family: sans-serif;
  padding: 4px 3px;
  z-index: 1;
  cursor: text;
}
span.placeholder-hide-except-screenreader {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
span.placeholder-hide {
  display: none;
}
/* overwrite for the HTML5 Boilerplate way to hide labels */label.visuallyhidden-with-placeholder {
  /*clip: auto !important;*/
  height: auto !important;
  overflow: visible !important;
  position: absolute !important;
  left: -999em;
}
