* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, sans-serif;
}
html, body {
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
*:focus {
  outline: 0;
}
#main_menu ul li a:hover {
  text-decoration: none !important;
}
