.employer_create {
  margin: 0px 0 30px 0;
  padding: 0px;
  width: 100%;
  border: 1px solid #d2d2d2;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}
.employer_create table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.employer_create tr:last-child td:last-child {
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.employer_create table tr:first-child td:first-child {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}
.employer_create table tr:first-child td:last-child {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.employer_create tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.employer_create tr:nth-child(odd) {
  background-color: #e6eaed;
}
.employer_create tr:nth-child(even) {
  background-color: #fff;
}
.employer_create td {
  vertical-align: middle;
  border: 1px solid #d2d2d2;
  border-width: 0px 1px 1px 0px;
  text-align: left;
  padding: 7px;
  font-size: 10px;
  font-family: Arial;
  font-weight: normal;
  color: #000;
}
.employer_create tr:last-child td {
  border-width: 0px 1px 0px 0px;
}
.employer_create tr td:last-child {
  border-width: 0px 0px 1px 0px;
}
.employer_create tr:last-child td:last-child {
  border-width: 0px 0px 0px 0px;
}
.employer_create tr:first-child td {
  background: -o-linear-gradient(bottom, #a9bdc8 5%, #a9bdc8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a9bdc8), color-stop(1, #a9bdc8));
  background: -moz-linear-gradient(center top, #a9bdc8 5%, #a9bdc8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a9bdc8", endColorstr="#a9bdc8");
  background: -o-linear-gradient(top, #a9bdc8, a9bdc8);
  background-color: #a9bdc8;
  border: 0px solid #d2d2d2;
  border-width: 0px 0px 1px 1px;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: #fff;
}
.employer_create tr:first-child:hover td {
  background: -o-linear-gradient(bottom, #a9bdc8 5%, #a9bdc8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a9bdc8), color-stop(1, #a9bdc8));
  background: -moz-linear-gradient(center top, #a9bdc8 5%, #a9bdc8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a9bdc8", endColorstr="#a9bdc8");
  background: -o-linear-gradient(top, #a9bdc8, a9bdc8);
  background-color: #a9bdc8;
}
.employer_create tr:first-child td:first-child {
  border-width: 0px 0px 1px 0px;
}
.employer_create tr:first-child td:last-child {
  border-width: 0px 0px 1px 1px;
}
