@media screen and (min-width: 120px) and (max-width: 480px) {
  .app-aside {
    float: left;
    width: 100%;
    margin-top: 60px;
    position: relative;
    top: inherit;
  }
  .content {
    float: left;
    position: relative;
    width: 100%;
    padding: 0;
    left: inherit;
    top: inherit;
  }
  .content table tr td:nth-child(2), .content table tr th:nth-child(2), .content table tr td:nth-child(3), .content table tr th:nth-child(3) {
    display: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .app-aside {
    float: left;
    width: 100%;
    margin-top: 60px;
    position: relative;
    top: inherit;
  }
  .content {
    float: left;
    position: relative;
    width: 100%;
    padding: 0;
    left: inherit;
    top: inherit;
  }
  .content table tr td:nth-child(2), .content table tr th:nth-child(2), .content table tr td:nth-child(3), .content table tr th:nth-child(3) {
    display: none;
  }
}
