* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, sans-serif;
}
html, body {
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
*:focus {
  outline: 0;
}
#main_menu ul li a:hover {
  text-decoration: none !important;
}
.ft11 {
  font-size: 11px;
}
.ft12 {
  font-size: 12px;
}
.ft14 {
  font-size: 14px;
}
.ft16 {
  font-size: 16px;
}
.ft18 {
  font-size: 18px;
}
.ft20 {
  font-size: 20px;
}
.ft24 {
  font-size: 24px;
}
.b {
  font-weight: bold;
}
.i {
  font-style: italic;
}
.u, section#footer .bottom_footer a:hover {
  text-decoration: underline;
}
.white {
  color: #fff;
}
.black {
  color: #000;
}
.gray {
  color: #586f7b;
}
.orange {
  color: #f58220;
}
.orange2 {
  color: #c76e22;
}
.blue {
  color: #184b65;
}
.red {
  color: red;
}
.bt {
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: none !important;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  /* @include transitionDef(0.3s); */
  display: inline-block;
}
.bt.blue {
  background: #00aeef;
}
.bt.orange {
  background: #f58220;
}
.bt.bt_large {
  padding: 10px 35px;
  margin-bottom: 5px;
}
.bt.bt_xlarge {
  padding: 35px 50px;
}
.bt:hover {
  background: #93999c;
}
.bt.bt_login:hover {
  background: #586f7b;
}
.active, section#header nav ul li a:hover {
  color: #586f7b !important;
  border-bottom: 5px solid #586f7b !important;
}
.bt_cadastre:hover {
  text-decoration: underline;
}
#wrap {
  min-height: 100%;
  position: relative;
}
.main, section#header nav#main_menu {
  width: 1000px;
  margin: auto;
}
.extremes, section#header .top_header, section#footer .bottom_footer {
  background: #e7e7e7;
  height: 30px;
}
.bt_agendar {
  background: #f58220;
  width: 70px;
}
.bt_agendar a {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}
.pullit.actived, .pullit:hover {
  background: #586f7b;
}
.site_status {
  background: #fff694;
  color: #3d3d3d;
  text-align: center;
  padding: 10px 0;
  border: 1px solid #9b9558;
  margin-bottom: 20px;
}
.blc, section#content #cadastro, section#content #contato {
  width: 1000px;
  float: left;
  margin-bottom: 20px;
}
.blc span, section#content #cadastro span, section#content #contato span {
  float: left;
  margin-right: 20px;
}
.blc span p.error, section#content #cadastro span p.error, section#content #contato span p.error {
  color: red;
  font-size: 11px;
}
.blc span input[type="text"], section#content #cadastro span input[type="text"], section#content #contato span input[type="text"], .blc span input[type="password"], section#content #cadastro span input[type="password"], section#content #contato span input[type="password"], .blc span input[type="email"], section#content #cadastro span input[type="email"], section#content #contato span input[type="email"], .blc span select, section#content #cadastro span select, section#content #contato span select, .blc span textarea, section#content #cadastro span textarea, section#content #contato span textarea {
  width: 405px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  height: 34px;
  text-indent: 10px;
  border: 1px solid #d2d2d2;
}
.blc span input[type="text"].large, section#content #cadastro span input[type="text"].large, section#content #contato span input[type="text"].large, .blc span input[type="password"].large, section#content #cadastro span input[type="password"].large, section#content #contato span input[type="password"].large, .blc span input[type="email"].large, section#content #cadastro span input[type="email"].large, section#content #contato span input[type="email"].large, .blc span select.large, section#content #cadastro span select.large, section#content #contato span select.large, .blc span textarea.large, section#content #cadastro span textarea.large, section#content #contato span textarea.large {
  width: 832px;
}
.blc span textarea, section#content #cadastro span textarea, section#content #contato span textarea {
  width: 832px;
  height: 150px;
  padding-top: 10px;
}
.inp_medium, section#content #login form input[type="text"], section#content .reset_pass form input[type="text"], section#content #login form input[type="password"], section#content .reset_pass form input[type="password"], section#content #login form input[type="email"], section#content .reset_pass form input[type="email"] {
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  height: 34px;
  text-indent: 10px;
  border: 1px solid #d2d2d2;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 0;
}
.pagination > li {
  display: inline;
}
.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857;
  text-decoration: none;
  color: #333;
  background-color: #f6f6f6;
  border: 1px solid #f6f6f6;
  margin-left: -1px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
  color: #fff;
  background-color: #31c0be;
  border-color: #31c0be;
}
.pagination > .active > a, .pagination > section#header nav ul li a:hover > a, section#header nav ul li .pagination > a:hover > a, .pagination > .active > a:hover, .pagination > section#header nav ul li a:hover > a:hover, section#header nav ul li .pagination > a:hover > a:hover, .pagination > .active > a:focus, .pagination > section#header nav ul li a:hover > a:focus, section#header nav ul li .pagination > a:hover > a:focus, .pagination > .active > span, .pagination > section#header nav ul li a:hover > span, section#header nav ul li .pagination > a:hover > span, .pagination > .active > span:hover, .pagination > section#header nav ul li a:hover > span:hover, section#header nav ul li .pagination > a:hover > span:hover, .pagination > .active > span:focus, .pagination > section#header nav ul li a:hover > span:focus, section#header nav ul li .pagination > a:hover > span:focus {
  z-index: 2;
  color: #fff;
  background-color: #31c0be;
  border-color: #31c0be;
  cursor: default;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #999;
  background-color: #f6f6f6;
  border-color: #f6f6f6;
  cursor: not-allowed;
}
.table-striped {
  padding: 20px;
}
.table-striped th {
  text-align: left;
}
.table-striped td {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 13px;
  color: #2b2b2b;
}
span.placeholder {
  position: absolute;
  font-size: 75%;
  color: #999;
  font-family: sans-serif;
  padding: 4px 3px;
  z-index: 1;
  cursor: text;
}
span.placeholder-hide-except-screenreader {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
span.placeholder-hide {
  display: none;
}
/* overwrite for the HTML5 Boilerplate way to hide labels */label.visuallyhidden-with-placeholder {
  /*clip: auto !important;*/
  height: auto !important;
  overflow: visible !important;
  position: absolute !important;
  left: -999em;
}
.employer_create {
  margin: 0px 0 30px 0;
  padding: 0px;
  width: 100%;
  border: 1px solid #d2d2d2;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}
.employer_create table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.employer_create tr:last-child td:last-child {
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.employer_create table tr:first-child td:first-child {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}
.employer_create table tr:first-child td:last-child {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.employer_create tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.employer_create tr:nth-child(odd) {
  background-color: #e6eaed;
}
.employer_create tr:nth-child(even) {
  background-color: #fff;
}
.employer_create td {
  vertical-align: middle;
  border: 1px solid #d2d2d2;
  border-width: 0px 1px 1px 0px;
  text-align: left;
  padding: 7px;
  font-size: 10px;
  font-family: Arial;
  font-weight: normal;
  color: #000;
}
.employer_create tr:last-child td {
  border-width: 0px 1px 0px 0px;
}
.employer_create tr td:last-child {
  border-width: 0px 0px 1px 0px;
}
.employer_create tr:last-child td:last-child {
  border-width: 0px 0px 0px 0px;
}
.employer_create tr:first-child td {
  background: -o-linear-gradient(bottom, #a9bdc8 5%, #a9bdc8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a9bdc8), color-stop(1, #a9bdc8));
  background: -moz-linear-gradient(center top, #a9bdc8 5%, #a9bdc8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a9bdc8", endColorstr="#a9bdc8");
  background: -o-linear-gradient(top, #a9bdc8, a9bdc8);
  background-color: #a9bdc8;
  border: 0px solid #d2d2d2;
  border-width: 0px 0px 1px 1px;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: #fff;
}
.employer_create tr:first-child:hover td {
  background: -o-linear-gradient(bottom, #a9bdc8 5%, #a9bdc8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a9bdc8), color-stop(1, #a9bdc8));
  background: -moz-linear-gradient(center top, #a9bdc8 5%, #a9bdc8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a9bdc8", endColorstr="#a9bdc8");
  background: -o-linear-gradient(top, #a9bdc8, a9bdc8);
  background-color: #a9bdc8;
}
.employer_create tr:first-child td:first-child {
  border-width: 0px 0px 1px 0px;
}
.employer_create tr:first-child td:last-child {
  border-width: 0px 0px 1px 1px;
}
section {
  overflow: hidden;
}
section#header #mid_header {
  background: url(../images/bg_header.png) no-repeat center #84a6b8;
  height: 100px;
}
section#header #mid_header h1 {
  float: left;
  margin: 30px 0 0 150px;
}
section#header #mid_header h2 {
  width: 162px;
  height: 75px;
  background: url(../images/logo_akademia.png) no-repeat;
  margin: 10px;
  float: left;
}
section#header #mid_header #login {
  float: right;
  margin: 25px 23px;
}
section#header nav {
  border-bottom: 1px solid #d2d2d2;
  margin: 20px auto 20px !important;
  overflow: hidden;
}
section#header nav ul {
  margin-left: 10px;
}
section#header nav ul li {
  float: left;
  margin-right: 30px;
}
section#header nav ul li a {
  display: block;
  color: #84a6b8;
  font-size: 17px;
  padding-bottom: 5px;
  border-bottom: 5px solid transparent;
}
section#header nav ul li a.mainItem {
  color: #009fe3;
  font-weight: bold;
}
section#content {
  padding-bottom: 114px;
}
section#content #presentation {
  float: left;
  width: 361px;
  margin: 35px 0 0 45px;
  font-size: 19px;
}
section#content #presentation h2 {
  font-size: 36px;
}
section#content #presentation h2 span {
  font-style: italic;
}
section#content #presentation p {
  margin-top: 20px;
}
section#content #presentation .bt_group {
  margin-top: 25px;
}
section#content #banner {
  float: right;
  margin-right: 25px;
}
section#content #login, section#content #access {
  margin-top: 20px;
}
section#content #login, section#content .reset_pass {
  float: left;
  width: 500px;
  border-right: 1px solid #d2d2d2;
}
section#content #login h2, section#content .reset_pass h2 {
  margin-bottom: 20px;
}
section#content #login form, section#content .reset_pass form {
  width: 405px;
}
section#content #login form p, section#content .reset_pass form p {
  margin-bottom: 13px;
}
section#content #login form p .error, section#content .reset_pass form p .error {
  color: red;
  font-size: 11px;
}
section#content #access {
  float: left;
  margin-left: 75px;
}
section#content #access h3 {
  margin-bottom: 20px;
}
section#content #cadastro hr, section#content #contato hr {
  border-bottom: 1px solid #d2d2d2;
  width: 100%;
  margin-bottom: 20px;
}
section#content #cadastro h2, section#content #contato h2 {
  margin-bottom: 20px;
}
section#content #cadastro .well, section#content #contato .well {
  padding: 20px 15px 0;
  border: 1px solid #ececec;
  overflow: hidden;
  width: 838px;
  background: #fafafa;
  margin-bottom: 20px;
}
section#content #cadastro .rollUp, section#content #contato .rollUp {
  margin-top: 20px;
  padding-top: 20px;
  border-top: dotted 1px #f4f4f4;
  font-size: 15px;
  color: #666;
  overflow: hidden;
}
section#content #cadastro .rollUp h3, section#content #contato .rollUp h3 {
  font-size: 18px;
  font-weight: bold;
  color: #184b65;
  margin-bottom: 15px;
}
section#content #cadastro .rollUp textarea, section#content #contato .rollUp textarea {
  text-indent: 10px;
  border: 1px solid #d2d2d2;
  margin-bottom: 20px;
  width: 100%;
  width: 832px;
  padding-top: 10px;
}
section#content #cadastro .rollUp div, section#content #contato .rollUp div {
  float: left;
  width: 445px;
  margin-bottom: 30px;
  margin-right: 50px;
}
section#content #cadastro .rollUp div span, section#content #contato .rollUp div span {
  float: none;
}
section#content #cadastro .rollUp div p, section#content #contato .rollUp div p {
  font-weight: bold;
  margin-bottom: 15px;
}
section#content #cadastro .rollUp div p .error, section#content #contato .rollUp div p .error {
  color: red;
  font-size: 11px;
  height: 20px;
  margin-bottom: 0;
}
section#content #cadastro .row h4 {
  margin-bottom: 20px;
}
section#content #cadastro .well {
  color: #586f7b;
  background-color: #e2e2e2;
  padding-bottom: 20px;
  width: 100%;
  line-height: 23px;
  border: 1px solid #bdb9b9;
  width: 33%;
  margin-right: 3%;
  float: left;
}
section#content #cadastro .well td {
  font-size: 14px;
}
section#content #cadastro .well td input, section#content #cadastro .well td select {
  text-indent: 15px;
  border: 1px solid #bdb9b9;
  height: 30px;
  width: 100%;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
section#content #cadastro .well td input[readonly="readonly"], section#content #cadastro .well td select[readonly="readonly"] {
  background: none;
  border: none;
}
section#content #cadastro .well td input.error, section#content #cadastro .well td select.error {
  border: 1px solid red;
}
section#content #grid_cursos h2 {
  margin-bottom: 20px;
}
section#content #grid_cursos .search {
  background: #93999c;
  width: 980px;
  padding: 10px;
  height: 79px;
  margin-bottom: 20px;
  position: relative;
}
section#content #grid_cursos .search form {
  margin-top: 15px;
}
section#content #grid_cursos .search form select, section#content #grid_cursos .search form input {
  max-width: 265px;
  min-width: 265px;
  height: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: block;
  margin-right: 10px;
  float: left;
}
section#content #grid_cursos .search form select[name="estado"]{
   max-width: 65px;
  min-width: 65px;
}
section#content #grid_cursos .search form button
{
    padding: 9px 14px;
    cursor: pointer;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 3px;
    
}
section#content #grid_cursos .search form select.sm, section#content #grid_cursos .search form input.sm {
  width: 50px;
  margin-right: -2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
section#content #grid_cursos .search form select.md, section#content #grid_cursos .search form input.md {
  width: 260px;
}
section#content #grid_cursos .search form select[disabled="disabled"], section#content #grid_cursos .search form input[disabled="disabled"], section#content #grid_cursos .search form select [disabled=true], section#content #grid_cursos .search form input [disabled=true] {
  background: #586f7b;
}
section#content #grid_cursos .search form input {
  text-indent: 10px;
}
section#content #grid_cursos .search form .bt_search {
  background: url(../images/bt_search.png) no-repeat;
  margin-right: 0;
  width: 52px;
  height: 30px;
}
section#content #grid_cursos .search form #sugestName {
  position: absolute;
  right: 72px;
  width: 170px;
  background: #fff;
  top: 71px;
  display: none;
}
section#content #grid_cursos .search form #sugestName li {
  font-size: 11px;
  background: #ffd;
  margin: 5px;
  padding: 4px;
  cursor: pointer;
}
section#content #grid_cursos .search form #sugestName li:hover {
  background: #84a6b8;
  color: #fff;
}
section#content #grid_cursos .search .loader {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/gif-load-small.gif) center no-repeat #586f7b;
  width: 1000px;
  height: 99px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  display: none;
}
section#content #grid_cursos.reset_pass {
  border: none;
  width: 100%;
}
section#content #grid_cursos.reset_pass form {
  width: 500px;
  margin-top: 30px;
}
section#content #grid_cursos.reset_pass form label {
  margin-bottom: 8px;
}
section#content #grid_cursos #datewrap .sub, section#content #grid_cursos #results .sub {
  margin-bottom: 15px;
}
section#content #grid_cursos #datewrap {
  float: left;
}
section#content #grid_cursos #datewrap .legenda {
  background: url('../images/disp.jpg') no-repeat;
  width: 192px;
  height: 14px;
  display: inline-block;
}
section#content #grid_cursos #results {
  float: right;
  width: 654px;
}
section#content #grid_cursos #results ul li {
  margin-bottom: 30px;
  width: 654px;
  color: #333;
}
section#content #grid_cursos #results ul li .wraptit {
  background: #ebebeb;
  width: 654px;
  margin-bottom: 15px;
}
section#content #grid_cursos #results ul li .wraptit .tit {
  padding: 10px 15px;
}
section#content #grid_cursos #results ul li .mid {
  display: none;
}
section#content #grid_cursos #results ul li .mid p {
  margin-bottom: 15px;
  line-height: 17px;
}
section#content #grid_cursos #results ul li .mid form select {
  border: 1px solid #ccc;
  padding: 3px;
  margin-bottom: 15px;
}
section#content #minha-agenda {
  float: left;
  width: 988px;
  margin-bottom: 20px;
}
section#content #minha-agenda h2 {
  margin-bottom: 20px;
}
section#content #minha-agenda p.sub {
  margin-bottom: 15px;
}
section#content #minha-agenda #cursos-concluidos .curso, section#content #minha-agenda #cursos-agendados .curso {
  width: 100%;
  height: 113px;
  float: left;
  margin-bottom: 4px;
}
section#content #minha-agenda #cursos-concluidos .curso .data-curso, section#content #minha-agenda #cursos-agendados .curso .data-curso, section#content #minha-agenda #cursos-concluidos .curso .dados-curso, section#content #minha-agenda #cursos-agendados .curso .dados-curso {
  background-color: #84a6b8;
}
section#content #minha-agenda #cursos-concluidos .curso .data-curso, section#content #minha-agenda #cursos-agendados .curso .data-curso {
  float: left;
  padding-top: 31px !important;
  box-sizing: border-box;
  width: 64px;
  height: 113px;
  padding-top: 4px;
  color: #fff;
  text-align: center;
  font: 14px Arial;
  text-transform: uppercase;
}
section#content #minha-agenda #cursos-concluidos .curso .data-curso span, section#content #minha-agenda #cursos-agendados .curso .data-curso span {
  font-size: 30px;
  line-height: 28px;
  margin-bottom: 0px;
}
section#content #minha-agenda #cursos-concluidos .curso .descricao-curso, section#content #minha-agenda #cursos-agendados .curso .descricao-curso {
  float: left;
  width: 532px;
  height: 113px;
  padding-left: 10px;
  box-sizing: content-box;
  padding-right: 10px;
  background-color: #ebebeb;
  font: 12px Arial;
  color: #333;
}
section#content #minha-agenda #cursos-concluidos .curso .descricao-curso h2, section#content #minha-agenda #cursos-agendados .curso .descricao-curso h2 {
  font: 16px Arial;
  font-weight: bold;
  color: #333;
  margin-top: 4px;
  margin-bottom: 4px;
}
section#content #minha-agenda #cursos-concluidos .curso .descricao-curso a, section#content #minha-agenda #cursos-agendados .curso .descricao-curso a {
  font: 12px Arial;
  color: #f58220;
}
section#content #minha-agenda #cursos-concluidos .curso .descricao-curso a:hover, section#content #minha-agenda #cursos-agendados .curso .descricao-curso a:hover {
  text-decoration: underline;
}
section#content #minha-agenda #cursos-concluidos .curso .descricao-curso .linker, section#content #minha-agenda #cursos-agendados .curso .descricao-curso .linker {
  margin: 10px 0;
  background: #fff;
  border: 1px dashed #d2d2d2;
  padding: 10px;
  line-height: 18px;
}
section#content #minha-agenda #cursos-concluidos .curso .descricao-curso .linker a, section#content #minha-agenda #cursos-agendados .curso .descricao-curso .linker a {
  color: #bbb;
}
section#content #minha-agenda #cursos-concluidos .curso .dados-curso, section#content #minha-agenda #cursos-agendados .curso .dados-curso {
  float: left;
  width: 228px;
  height: 113px;
}
section#content #minha-agenda #cursos-concluidos .curso .dados-curso .item, section#content #minha-agenda #cursos-agendados .curso .dados-curso .item {
  width: 218px;
  padding-left: 10px;
  font: 14px Arial;
  line-height: 32px;
  color: #fff;
}
section#content #minha-agenda #cursos-concluidos .curso .dados-curso .item.um, section#content #minha-agenda #cursos-agendados .curso .dados-curso .item.um {
  height: 33px;
  border-bottom: 1px solid #fff;
}
section#content #minha-agenda #cursos-concluidos .curso .dados-curso .item.dois, section#content #minha-agenda #cursos-agendados .curso .dados-curso .item.dois {
  height: 32px;
}
section#content #minha-agenda #cursos-concluidos .curso .dados-curso .item span, section#content #minha-agenda #cursos-agendados .curso .dados-curso .item span {
  font-size: 16px;
  font-weight: bold;
}
section#content #minha-agenda #cursos-concluidos .curso .acao-curso, section#content #minha-agenda #cursos-agendados .curso .acao-curso {
  float: left;
  width: 144px;
  height: 113px;
  background-color: #ebebeb;
}
section#content #minha-agenda #cursos-agendados {
  float: left;
  margin-bottom: 30px;
}
section#content #minha-agenda #cursos-agendados .curso .data-curso, section#content #minha-agenda #cursos-agendados .curso .dados-curso {
  background-color: #009fe3;
}
section#content #minha-agenda .bt_acao {
  text-align: center;
  font-size: 14px;
  line-height: 44px;
  width: 108px;
  height: 46px;
  padding: 0 !important;
  margin: 33px 0 0 18px;
}
section#content #cadastro ul {
  width: 500px;
  background-color: #ccc;
  overflow: hidden;
  margin-bottom: 30px;
}
section#content #cadastro ul li {
  clear: both;
}
section#content #cadastro ul li span {
  margin: 0 !important;
  padding-left: 10px;
  padding-top: 5px;
  font: 14px Arial;
  color: #333;
}
section#content #cadastro ul li span:nth-of-type(1) {
  width: 150px;
  border-right: 2px solid #fff;
}
section#content #cadastro ul li span:nth-of-type(2) {
  width: 320px;
  font-weight: bold;
}
section#content #cadastro ul li span.last {
  padding-bottom: 5px;
}
section#content #cadastro .ft_orange {
  color: #f58220;
}
section#content #cadastro .left {
  float: left;
}
section#content #cadastro .bt_x {
  width: 22px;
  height: 22px;
  background: url(../images/bt-x.png) no-repeat 0 0;
  margin: 6px 0 0 100px;
  padding: 0;
}
section#content #cadastro .txt_underline {
  text-decoration: underline;
  color: #000;
}
section#content .mrg-btt-10 {
  margin-bottom: 10px;
}
section#content .add-part {
  padding: 0 12px;
  margin-right: 5px;
}
section#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
section#footer .bottom_footer {
  font-size: 12px;
}
section#footer .bottom_footer a {
  margin: 10px 0;
  display: inline-block;
  color: #a0a0a0;
}
section#footer .subfooter {
  overflow: hidden;
  padding: 10px 0 15px;
  border-top: 1px solid #e9e9e9;
}
section#footer .subfooter img {
  float: right;
}
/*
 section#content #cadastro ul { 
 width: 500px; 
 background-color: #ccc;
 overflow: hidden;
 margin-bottom: 30px;
 }
 section#content #cadastro ul li {
 clear: both;
 }
 section#content #cadastro ul li span { 
 margin: 0 !important;
 padding-left: 10px;
 padding-top: 5px;
 font: 14px Arial;
 color: #333333;
 }
 section#content #cadastro ul li span:nth-of-type(1) { 
 width: 150px;
 border-right: 2px solid #fff;
 }
 section#content #cadastro ul li span:nth-of-type(2) { 
 width: 320px;
 font-weight: bold;
 }
 section#content #cadastro ul li span.last { 
 padding-bottom: 5px;
 }
 .mrg-btt-10 { margin-bottom: 10px; }
 .add-part {
 padding: 0 12px;
 margin-right: 5px;
 } */