/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	text-decoration: none;
}

body {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	font-family: "Lato",Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #767676;
	background-color: #f3f3f3;
}

div { display:block; }

a, img { outline:0; }

.text-center {
	text-align: center;
}
.row { margin: 15px 0; }

.login-header {
	background-color: #dfe0e6;
	padding: 25px 0;

	.login-header-title {
		color: #000;
		font-size: 46px;
		font-family: "Lato", arial;
		font-weight: 700;
	}
}
.login-section {
	padding: 20px 0;
	background-color: #f3f3f3;

	.login-section-content {
		width: 450px;
		margin: 0 auto;
	}

	.input-group {
		width: 100%;
		.input-group-lb {
			position: absolute; width: 46px; height: 46px; background-color: #f3f3f3; color: #767676; border: 1px solid #ccc;
			padding: 4px 0 0 10px;
		}
		input { width: 100%; height: 46px; padding-left: 60px; border: 1px solid #ccc; }
	}

	.btn-login {
		width: 100%; height: 46px; border: 1px solid; color: #fff; background-color: #31c0be; border-color: #2cacaa; cursor: pointer; font-size: 18px;
	}
	.btn-login:hover, .btn-login:focus, .btn-login:active, .btn-login.active {
		color: #fff;
		background-color: #299f9e;
		border-color: #1f7b7a;
	}
	.icon { font-size: 24px !important; }
	.forgetpsw { color: #0d0d0d; }
	.forgetpsw:hover { text-decoration: underline; }
}

.app-header {
	position: fixed;
	top: 0; left:0; right:0;
	z-index: 999;
	height: 60px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	overflow: hidden;
	.app-header-logo {
		float: left;
		width: 220px;
		padding-top: 10px;
		border-right: 1px solid #ccc;
	}
	.app-header-userinfo {
		float: left;
		padding-left: 20px;
		line-height: 60px;
	}
	.app-header-logout {
		float: right;
		padding-right: 20px;
		line-height: 60px;
	}
}

.app-aside {
	z-index: 1;
	width: 220px;
	background-color: #242633;
	position: fixed;
	top: 60px;
	bottom: 0;
	padding: 0;
	

	.app-aside-nav-list li {
		border-bottom: 1px solid #191b24;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;		
		a { 
			display: block; 
			color: #767676;
			padding: 15px;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
		}
		a:hover {color:white;}
	}
	.app-aside-nav-list li:hover {
		background-color: #191b24;
	}
}

.content {
	position: absolute;
	top: 60px;
	left: 220px;
	width: auto;
	padding: 20px 25px;
	overflow-y: auto;
	right: 0;
	bottom: 0;
	// left: 0;
	-webkit-overflow-scrolling: touch;
	-webkit-overflow-scrolling: -blackberry-touch;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;

	.panel {
		margin-bottom: 20px;
		background-color: #fff;
		border: 1px solid #e9e9e9;
		border-radius: 0;
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
		box-shadow: 0 1px 1px rgba(0,0,0,0.05);
		.panel-heading {
			text-transform: uppercase;
			padding: 10px 15px;
			border-bottom: 1px solid #e9e9e9;
			color: #767676;
			background-color: #f6f6f6;
		}
		.panel-body {
			padding: 15px;
		}
		.panel-body:before{
			display: table;
		}
		.panel-body:after {
			clear: both;
		}
	}
}
#erro{
	text-align: center;
	color: red;
	border:1px solid red;
	padding: 10px;
}
#status{
	background: #fef5ac;
	color: #414141;
	text-align: center;
	padding: 10px 0;
}