.body-internas #form-padrao li.errorList{
  width: 300px;
  text-align: left;
}
label.error[for="check"]{
	display: inline-block;
position: absolute;
bottom: -16px;
left: 256px;
}
#status {
background: #fef5ac;
color: #414141;
text-align: center;
padding: 10px 0;
margin-bottom: 25px;
}
#fase-de-grupos > ul li a:hover, #fase-de-grupos > ul li.ui-tabs-active a{
	color:#007e80 !important;
}
.marquer{float: left; background: #bebebe; margin-right: 10px;}